* {
    margin: 0;
    padding: 0;
}
.bg-violet {
    background-color: #6964e2;
}
.color {
    color: #6964e2;
}

.div-1 {
    height: 350px;
    margin-top: 90px;
}

.container {
    position: relative;
    top: -440px;
}
.logo {
    height: 50px;
    width: 110px;
    margin-top: 10px;
}
svg {
    margin-right: 10px;
}
h1 {
    margin-top: 80px;
}
.div-2 {
    width: 120px;
    height: 30px;
}
.div-3 {
    height: 150px;
    width: 150px;
    margin: 40px 20px;
}
